html,
body {
  height: 100% !important;
}

/* css App */
#app {
  height: 100%;
}
.full {
  height: 100%;
}

/* login menu */
/* .lebar {
  width: 700px !important;
} */
.button-pilih {
  width: 100px;
}
.rounded {
  border-radius: 10px !important;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.background {
  background-color: #b7dbf3;
  background-image: linear-gradient(135deg, #e0edf6 0%, #c0d9f1 100%);
  background-repeat: no-repeat;
}
.logoo {
  width: 100px;
  height: 100px;
}

/* css ijazah */
.cardijazah {
  width: 100%;
  overflow: auto;
  position: relative;
}
.imgijazah {
  width: 700px;
  height: 100%;
  overflow-x: auto;
}
.textijazah {
  white-space: nowrap;
  position: absolute;
  font-weight: bold;
}
.textkepala {
  top: 320px;
  left: 385px;
}
.textnpsn {
  top: 375px;
  left: 330px;
}
.textkab {
  top: 400px;
  left: 250px;
}
.textprov {
  top: 427px;
  left: 250px;
}
.textnamasiswa {
  top: 455px;
  left: 310px;
}
.textttl {
  top: 480px;
  left: 310px;
}
.textnamaortu {
  top: 507px;
  left: 310px;
}
.textnis {
  top: 534px;
  left: 310px;
}
.textnisn {
  top: 560px;
  left: 310px;
}
.textdate {
  top: 730px;
  left: 410px;
}
.textkepsek {
  top: 790px;
  left: 390px;
}

/* css nilai  */
.textnilai {
  white-space: nowrap;
  position: absolute;
  font-weight: bold;
}
.nilainamasiswa {
  top: 167px;
  left: 310px;
}
.nilaittl {
  top: 190px;
  left: 310px;
}
.nilainis {
  top: 213px;
  left: 310px;
}
.nilainisn {
  top: 235px;
  left: 310px;
}

.nilaipai {
  top: 378px;
  left: 575px;
}
.nilaipkn {
  top: 408px;
  left: 575px;
}
.nilaibindo {
  top: 437px;
  left: 575px;
}
.nilaimtk {
  top: 465px;
  left: 575px;
}
.nilaiipa {
  top: 495px;
  left: 575px;
}
.nilaiips {
  top: 525px;
  left: 575px;
}
.nilaisbdp {
  top: 585px;
  left: 575px;
}
.nilaipjok {
  top: 615px;
  left: 575px;
}
.nilaimulok {
  top: 645px;
  left: 575px;
}
.nilaidate {
  top: 810px;
  left: 455px;
}
.nilaikepsek {
  top: 880px;
  left: 425px;
}
